.score{
  color:white;
  background-color:rgb(0, 162, 255);
  padding:2%;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;

}
/* @media screen and (max-width: 640px){
.score{
  font-size:25px;
}
} */